.main__title__error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  margin: 0 !important;
}
.main__title__error h1,
.main__title__error p {
  color: white;
  font-weight: 500;
  margin: 0 !important;
}
.main__title__error img {
  width: 10rem;
  margin: 0 !important;
  padding: 2rem 0;
}

body {
  background-color: #1f2334;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1024px) {
  body {
    padding: 1rem 7rem;
  }
}

main .home__main__content {
  margin: 2rem 0;
}
@media screen and (min-width: 1440px) {
  main .home__main__content {
    margin: 2vw 0;
  }
}
main .home__main__content .main__content__news__item {
  margin: 3rem 0;
}
@media screen and (min-width: 1440px) {
  main .home__main__content .main__content__news__item {
    margin: 3vw 0;
  }
}
main .home__main__content .main__content__news__item__date {
  margin: 1rem 0;
  gap: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (min-width: 1440px) {
  main .home__main__content .main__content__news__item__date {
    margin: 1vw 0;
    gap: 0.4vw;
  }
}
main .home__main__content .main__content__news__item__date svg {
  font-size: 1.2rem;
  color: gray;
}
@media screen and (min-width: 1024px) {
  main .home__main__content .main__content__news__item__date svg {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1440px) {
  main .home__main__content .main__content__news__item__date svg {
    font-size: 1.1vw;
  }
}
main .home__main__content .main__content__news__item__date p {
  color: gray;
  font-size: 0.9rem;
}
main .home__main__content .main__content__news__item__date p::-moz-selection {
  color: white;
  background: #6f72ca;
}
main .home__main__content .main__content__news__item__date p::selection {
  color: white;
  background: #6f72ca;
}
@media screen and (min-width: 1024px) {
  main .home__main__content .main__content__news__item__date p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1440px) {
  main .home__main__content .main__content__news__item__date p {
    font-size: 0.9vw;
  }
}
main .home__main__content .main__content__news__item__title h2 {
  margin: 0.5rem 0;
  color: white;
  font-size: 1.4rem;
}
main .home__main__content .main__content__news__item__title h2::-moz-selection {
  color: #6f72ca;
  background: white;
}
main .home__main__content .main__content__news__item__title h2::selection {
  color: #6f72ca;
  background: white;
}
@media screen and (min-width: 1024px) {
  main .home__main__content .main__content__news__item__title h2 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1440px) {
  main .home__main__content .main__content__news__item__title h2 {
    font-size: 1.4vw;
    margin: 0.5vw 0;
  }
}
main .home__main__content .main__content__news__item__title p {
  margin: 0.5rem 0;
  color: rgb(190, 190, 190);
  font-size: 0.9rem;
}
main .home__main__content .main__content__news__item__title p::-moz-selection {
  color: #6f72ca;
  background: white;
}
main .home__main__content .main__content__news__item__title p::selection {
  color: #6f72ca;
  background: white;
}
@media screen and (min-width: 1024px) {
  main .home__main__content .main__content__news__item__title p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1440px) {
  main .home__main__content .main__content__news__item__title p {
    font-size: 0.9vw;
    margin: 0.5vw 0;
  }
}
main .home__main__content .main__content__news__item__link a {
  color: #6f72ca;
  letter-spacing: 1px;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  main .home__main__content .main__content__news__item__link a {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  main .home__main__content .main__content__news__item__link a {
    font-size: 0.8vw;
    margin: 0.5vw 0;
  }
}
main .home__main__content .main__content__news__item__link a::-moz-selection {
  color: white;
  background: #6f72ca;
}
main .home__main__content .main__content__news__item__link a::selection {
  color: white;
  background: #6f72ca;
}
main .home__main__content .main__content__news__item__link a:hover {
  color: #9296f6;
}/*# sourceMappingURL=home.css.map */