.main__title__error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  width: 88vw;

  h1,
  p {
    color: white;
    font-weight: 500;
  }

  img {
    width: 10rem;
    padding: 2rem 0;
  }
}

body {
  background-color: #1f2334;
  position: relative;
  overflow: hidden;

  @media (min-width: 1024px) {
    padding: 1rem 7rem;
  }
}

main {
  .home__main__content {
    margin: 2rem 0;

    @media screen and (min-width: 1440px) {
      margin: 2vw 0;
    }

    .main__content__news {
      &__item {
        margin: 3rem 0;

        @media screen and (min-width: 1440px) {
          margin: 3vw 0;
        }

        &__date {
          margin: 1rem 0;
          gap: 0.4rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          @media screen and (min-width: 1440px) {
            margin: 1vw 0;
            gap: 0.4vw;
          }

          svg {
            font-size: 1.2rem;
            color: gray;

            @media screen and (min-width: 1024px) {
              font-size: 1.8rem;
            }

            @media screen and (min-width: 1440px) {
              font-size: 1.1vw;
            }
          }

          p {
            color: gray;
            font-size: 0.9rem;

            &::selection {
              color: white;
              background: #6f72ca;
            }

            @media screen and (min-width: 1024px) {
              font-size: 1.1rem;
            }

            @media screen and (min-width: 1440px) {
              font-size: 0.9vw;
            }
          }
        }

        &__title {
          h2 {
            margin: 0.5rem 0;
            color: white;
            font-size: 1.4rem;

            &::selection {
              color: #6f72ca;
              background: white;
            }

            @media screen and (min-width: 1024px) {
              font-size: 1.6rem;
            }

            @media screen and (min-width: 1440px) {
              font-size: 1.4vw;
              margin: 0.5vw 0;
            }
          }

          p {
            margin: 0.5rem 0;
            color: rgb(190, 190, 190);
            font-size: 0.9rem;

            &::selection {
              color: #6f72ca;
              background: white;
            }

            @media screen and (min-width: 1024px) {
              font-size: 1.1rem;
            }

            @media screen and (min-width: 1440px) {
              font-size: 0.9vw;
              margin: 0.5vw 0;
            }
          }
        }

        &__link {
          a {
            color: #6f72ca;
            letter-spacing: 1px;
            font-size: 0.8rem;
            transition: all 0.3s ease-in-out;

            @media screen and (min-width: 1024px) {
              font-size: 1rem;
            }

            @media screen and (min-width: 1440px) {
              font-size: 0.8vw;
              margin: 0.5vw 0;
            }

            &::selection {
              color: white;
              background: #6f72ca;
            }

            &:hover {
              color: #9296f6;
            }
          }
        }
      }
    }
  }
}
